footer{
    background-color: $darkBg;
    border-top: solid 2px black;
    color: $bgColor;
    padding: 20px;
    font-size: 1.1rem;
    .newsletter{
        div{
            .nlField{
                width: 250px;
                height: 30px;
                margin: 5px auto;
            }
            .formButton{
                background: $lightBg;
                border: black 1px solid;
                margin-top: 10px;
                width: 250px;
                height: 30px;
                text-transform: uppercase;
                transition: all 0.3s ease-in;
                &:hover{
                    background: $btnColor;
                    cursor: pointer;
                }
            }
        }
    }
    .cajaSocialLogos{
        .socialLogos{
            a{
                i{
                    font-size: 38px;
                    margin-left: 5px;
                    margin-right: 5px;
                    text-decoration: none;
                    color: $lightBg;
                    transition: all 0.5s ease;
                    &:hover{
                        color: $tealBg;
                        transform: translateY(-5px)
                    }
                }
            }
        }
    }
}