.portfolioPage{
    background-color: $tealBg;
    border: 2px solid black;
    margin: 20px 30px;
    padding: 10px;
    .portfolioTitle{
        text-align: center;
    }
    .works{
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        text-align: center;
        padding: 20px 0px;
        flex-wrap: wrap;
        .works1{
            width: 30%;
            h3{
                margin: 10px 0;
            }
            img{
                width: 160px;
                border: 1px black solid;
                margin: 2px;
            }
        }
        .works2{
            @extend .works1
        }
        .portfolioCarousel{
            display: none;
        }
    }
}